nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
   
}
nav li{
    list-style: none;
    display: inline;
  
   
}
nav a:hover
{
    background-color: #555;
}
.fa-bars{
 visibility: hidden;
}
nav li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
  
  
}
.toggle{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
  
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width:500px) {
    .fa-bars{
        visibility: visible;
        cursor: pointer;
       }
       nav li a{
           display: none;
       }
}