body{
    height: 100vh;
    
}

.container{
    width: 350px; 
    height: 200px;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    text-align: center;
}

header{
   background: linear-gradient(to right,yellow,pink);
    cursor:move;
    user-select: none;
}
