
body,html{
        height: 100%;  
        margin: 0;   
}
* {
    box-sizing: border-box;
  }
  
.bg{
     background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80')
      no-repeat center center/cover;
     height: 100%; 
  }
  
h1{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: white;
}