body{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background:#141e30;
    color: #fff;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  
}

.controls button{
    background: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
}
.musicbody{
    display: flex;
    align-items: center;
}
.container img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius:50% ;
    animation: rotate 3s linear infinite;
    animation-play-state: paused;}

@keyframes rotate {

    from{
        transform: rotate(0deg);
    }
    
    to{
        transform: rotate(360deg);

    }
}
.controls{
    display: flex;
    justify-content: space-between;
    color: azure;
    margin-top: 20px;
    padding: 0px 20px;
    
}
.controls i{
    cursor: pointer;
}
.playBtn{
    font-size: 1.5rem !important;
}
.controls i:hover{
color: aqua;
}
.progressContainer{
    height: 2px;
    background-color: whitesmoke;
    width: 200px;

}
.tittleProgBar{
    margin-left: 25px;
    cursor: pointer;
    
}
.tittleProgBar .progress{
   display: block;
   background-color: orange;
   height: 2px;
  
   animation: progress  linear 1;
  /* animation-duration: 20s;*/
   animation-play-state: paused;

}
@keyframes progress {
    from{
        width: 0%;
    }

    to{
        width: 100%;
    }
    
}